MONGODB_URI=
MONGODB_DB_NAME=scalenex
AUTH_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
EMAIL_FROM="ScaleNex Digital <scalenexdigital@gmail.com>"
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
MONGOMS_DISABLE_POSTINSTALL=1
